.secrets.ini
**/__pycache__/
**/db/
**/user/
**/*.pkl

openai_skt/test.py
openai_skt/test2.txt
openai_skt/time_test.txt
openai_skt/test3.txt
openai_skt/database/crawling/koreakr/koreakr.json
openai_skt/database/crawling/koreakr/error_logs.json
openai_skt/database/crawling/koreakr/downloaded_files.json
openai_skt/database/crawling/koreakr/files/
openai_skt/database/crawling/kostat/completed_characters.json
openai_skt/database/crawling/kostat/results.json
openai_skt/database/crawling/koreakr/files.zip
openai_skt/database/crawling/kostat/files.zip
openai_skt/database/crawling/kostat/files/
openai_skt/database/crawling/koreakr/samples.zip
openai_skt/database/crawling/koreakr/samples/
openai_skt/tutorials/Screenshots/
openai_skt/database/chunk/layout-parser-checkpoint/model_final.pth
openai_skt/db/
openai_skt/db_backup_stop_at_75/
openai_skt/db_backup_stop_at_125/
openai_skt/db_backup_stop_at_235/
openai_skt/db_backup_stop_at_364/
openai_skt/db_backup_stop_at_628/
openai_skt/db_backup_stop_at_858/