.secrets.ini
**/__pycache__/
**/db/
**/user/
**/*.pkl

openai_skt/test.py
openai_skt/test2.txt
openai_skt/time_test.txt
openai_skt/test3.txt
openai_skt/database/crawling/koreakr/koreakr.json
openai_skt/database/crawling/kostat/completed_characters.json
openai_skt/database/crawling/kostat/results.json