embedchain
embedchain[elasticsearch]
langchain
beautifulsoup4
aiohttp
lxml
configparser
tiktoken
google-api-python-client
oauth2client
nest_asyncio
selenium
plotly
kaleido
webdriver_manager
google-search-results
scrapy
twisted